<%- include('../partials/header') %>
    <h1>Pessoas</h1>
    <p><a href="/pessoas/create">Nova pessoa</a></p>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width: 50px" scope="col">Código</th>
                <th scope="col">Nome</th>
                <th style="width: 250px" scope="col">Data de nascimento</th>
                <th style="width: 250px" scope="col">Cargo</th>
                <th style="width: 50px" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% pessoa.data.forEach( pes => { %>
                <tr>
                    <td><%- pes.id %></td>
                    <td><%- pes.nome %></td>
                    <td><%- moment(pes.nascimento).format('DD/MM/YYYY') %></td>
                    <td><%- pes.cargo %></td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="acoes">
                            <a href="/pessoas/edit/<%- pes.id %>" class="btn btn-primary">Editar</a>
                            <a href="/pessoas/delete/<%- pes.id %>" class="btn btn-danger" onClick="return confirm('Deseja realmente excluir <%- pes.nome %>?')">Excluir</a>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <nav aria-label="Mais pessoas">
        <ul class="pagination justify-content-center">
            <% if(pessoa.pagination.currentPage > 0) { %>
                <li class="page-item"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- pessoa.pagination.currentPage - 1 %>">Anterior</a></li>
            <% } else { %>
                <li class="page-item disabled"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- pessoa.pagination.currentPage - 1 %>">Anterior</a></li>
            <% } %>
                <% for(let i=0; i<pessoa.pagination.totalPages; i++) { %>
                    <% if(i === pessoa.pagination.currentPage) { %>
                        <li class="page-item disabled"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- i %>"><%= i + 1 %></a></li>
                    <% } else {%>
                        <li class="page-item"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- i %>"><%= i + 1 %></a></li>
                    <% } %>
                <% } %>
            <% if(pessoa.pagination.totalPages - 1 > pessoa.pagination.currentPage) { %>
                <li class="page-item"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- pessoa.pagination.currentPage + 1 %>">Próxima</a></li>
            <% } else { %>
                <li class="page-item disabled"><a class="page-link" href="?pageSize=<%- pessoa.pagination.pageSize %>&currentPage=<%- pessoa.pagination.currentPage + 1 %>">Próxima</a></li>
            <% }  %>
        </ul>
    </nav>
<%- include('../partials/footer') %>